PB2017/587_webservice/bak/OTA_PMS_wsdl/OTA_PMS_CommonPortTypes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2018 sp1 (http://www.altova.com) by David Peace (Powersoft) -->
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ota="http://www.opentravel.org/OTA/2003/05" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="OTA_PMS_CommonPortTypes" targetNamespace="http://www.opentravel.org/OTA/2003/05">
	<wsdl:import namespace="http://www.opentravel.org/OTA/2003/05" location="OTA_PMS_CommonMessages.wsdl"/>
	<wsdl:types/>
	<wsdl:portType name="OTA_PMS_PortType">
		<wsdl:operation name="OTA_Read_Request">
			<wsdl:input message="tns:OTA_ReadRQ"/>
			<wsdl:output message="tns:OTA_ResRetrieveRS"/>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelResNotif_Request">
			<wsdl:input message="tns:OTA_HotelResNotifRQ"/>
			<wsdl:output message="tns:OTA_HotelResNotifRS"/>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelInvCountNotif_Request">
			<wsdl:input message="tns:OTA_HotelInvCountNotifRQ"/>
			<wsdl:output message="tns:OTA_HotelInvCountNotifRS"/>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelRateAmountNotif_Request">
			<wsdl:input message="tns:OTA_HotelRateAmountNotifRQ"/>
			<wsdl:output message="tns:OTA_HotelRateAmountNotifRS"/>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelBookingRuleNotif_Request">
			<wsdl:input message="tns:OTA_HotelBookingRuleNotifRQ"/>
			<wsdl:output message="tns:OTA_HotelBookingRuleNotifRS"/>
		</wsdl:operation>
		<wsdl:operation name="OTA_Ping_Request">
			<wsdl:input message="tns:OTA_PingRQ"/>
			<wsdl:output message="tns:OTA_PingRS"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
