PB2017/587_webservice/test/OTA_PMS_wsdl/OTA_PMS_CommonBindings.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2018 sp1 (http://www.altova.com) by David Peace (Powersoft) -->
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ota="http://www.opentravel.org/OTA/2003/05" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="OTA_PMS_CommonBindings" targetNamespace="http://www.opentravel.org/OTA/2003/05">
	<wsdl:import namespace="http://www.opentravel.org/OTA/2003/05" location="OTA_PMS_CommonPortTypes.wsdl"/>
	<wsdl:types/>
	<wsdl:binding name="OTA_PMS_Binding" type="ota:OTA_PMS_PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="OTA_Read_Request">
			<soap:operation soapAction="OTA_Read" style="document"/>
			<wsdl:input>
				<soap:header message="ota:OTA_PMS_Security" part="OTA_PMS_Security" use="literal"/>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:header message="ota:OTA_PMS_RelatesTo" part="OTA_PMS_RelatesTo" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelResNotif_Request">
			<soap:operation soapAction="OTA_HotelResNotif" style="document"/>
			<wsdl:input>
				<soap:header message="ota:OTA_PMS_Security" part="OTA_PMS_Security" use="literal"/>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:header message="ota:OTA_PMS_RelatesTo" part="OTA_PMS_RelatesTo" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelInvCountNotif_Request">
			<soap:operation soapAction="OTA_HotelInvCountNotif" style="document"/>
			<wsdl:input>
				<soap:header message="ota:OTA_PMS_Security" part="OTA_PMS_Security" use="literal"/>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:header message="ota:OTA_PMS_RelatesTo" part="OTA_PMS_RelatesTo" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelRateAmountNotif_Request">
			<soap:operation soapAction="OTA_HotelRateAmountNotif" style="document"/>
			<wsdl:input>
				<soap:header message="ota:OTA_PMS_Security" part="OTA_PMS_Security" use="literal"/>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:header message="ota:OTA_PMS_RelatesTo" part="OTA_PMS_RelatesTo" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelBookingRuleNotif_Request">
			<soap:operation soapAction="OTA_HotelBookingRuleNotif" style="document"/>
			<wsdl:input>
				<soap:header message="ota:OTA_PMS_Security" part="OTA_PMS_Security" use="literal"/>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:header message="ota:OTA_PMS_RelatesTo" part="OTA_PMS_RelatesTo" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_Ping_Request">
			<soap:operation soapAction="OTA_Ping" style="document"/>
			<wsdl:input>
				<soap:header message="ota:OTA_PMS_Security" part="OTA_PMS_Security" use="literal"/>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="ota:OTA_PMS_MessageID" part="OTA_PMS_MessageID" use="literal"/>
				<soap:header message="ota:OTA_PMS_To" part="OTA_PMS_To" use="literal"/>
				<soap:header message="ota:OTA_PMS_From" part="OTA_PMS_From" use="literal"/>
				<soap:header message="ota:OTA_PMS_Action" part="OTA_PMS_Action" use="literal"/>
				<soap:header message="ota:OTA_PMS_RelatesTo" part="OTA_PMS_RelatesTo" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
